{% extends 'FrontendBundle:Main:layout.html.twig' %}
{%block body%}
<section id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           <div class="inner-box posting">
              <div class="alert alert-success alert-lg" role="alert" style="background:red">
              <h2 class="postin-title">✔ Vérifier votre Identifiant</h2>
              
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{%endblock%}